.App {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: .5rem;
    margin: auto;
}

.App nav {
    grid-column: 1/3;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
}

.App>* {
    border: solid 1px #666;
    border-radius: 5px;
}